# Frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.*
frontend/coverage

# Backend
backend/.venv
backend/venv
venv
backend/__pycache__
backend/.env
backend/.env.local
backend/test_app_ci.db

# IDE / Editor
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Build & temp
/dist-ssr